@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");
@import url("https://use.typekit.net/qcv0grm.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar for all elements */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: Set a background color for the area where the scrollbar was */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Optional: Add hover styles to the scrollbar track */
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

html {
  font-family: "Inter", sans-serif;
}

body{
  background-color: #e0e0e0;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-screen h-screen flex xl:justify-between justify-center items-start  flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home2 {
  @apply xl:justify-between justify-start items-start xl:py-24 xl:px-36 p-6 py-32 max-xl:gap-7;
}

.home-content {
  @apply w-screen h-screen flex-1 xl:justify-center justify-start md:justify-start  md:mt-16 flex flex-col  xl:ms-32;
}

.head-text {
  @apply  xl:text-[10rem] md:text-[8rem]  text-[4.5rem] xl:leading-[11rem] leading-[7rem] font-black text-black text-start;
}

.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
  @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.formtab-container {
  @apply absolute z-10 bottom-20 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.productpicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.productpicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.colorpicker-container{
  @apply absolute left-full ml-3 glassmorphism p-3 w-[250px] h-[250px] flex flex-col rounded-md;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-custom-gray focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.workorder-box{
  @apply w-screen h-screen
}

.workorder-title{
  font-family: nunito-sans, sans-serif;
  font-weight: 900;
  font-size: 80px;
  font-style: italic;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.form-container{
  width: 1024px;
  border: 3.5px solid #B2B2B2;
  margin: auto;
  padding: 50px;
  background-color: rgb(241, 241, 241);
  border-radius: 12px;
}

.printform-form-container{
  width: 1024px;
  border: 3.5px solid #ffffff;
  margin: auto;
  padding: 50px;
  background-color: rgb(241, 241, 241);
  border-radius: 12px;
}

.workorder-form{
  @apply w-full h-full;
}

.form-first-section{
  @apply grid grid-cols-3 gap-8 items-center;
}


.garmnt-logo-text{
  font-family: nunito-sans, sans-serif;
  font-weight: 900;
  font-size: 45px;
  font-style: italic;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  letter-spacing: 5px;
}

.input{
  display: flex;
  flex-direction: column;
}


.form-input-title {
  font-family: nunito-sans, sans-serif;
  font-style: SemiBold italic;
  font-weight: 600;
  font-size: 12px;
  color: #545454;
}

.form-input-text {
  height: 25px;
  border-radius: 8px;
  font-family: nunito-sans, sans-serif;
  font-style: SemiBold italic;
  font-weight: 600;
  font-size: 12px;
  color: #373737;
  text-align: end;
  letter-spacing: 16;
}

.form-input-text-start {
  border-radius: 8px;
  font-family: nunito-sans, sans-serif;
  font-style: SemiBold italic;
  font-weight: 600;
  font-size: 12px;
  color: #06a342;
  text-align: end;
  letter-spacing: 16;
  height: 25px;
}

.form-input-text-start:focus{
  box-shadow: 0 0 5px #242424;
  border-color: #242424;
}

.form-input-text-due {
  border-radius: 8px;
  font-family: nunito-sans, sans-serif;
  font-style: SemiBold italic;
  font-weight: 600;
  font-size: 12px;
  color: #a30606;
  text-align: end;
  letter-spacing: 16;
  height: 25px;
}

.form-input-text-due:focus {
  box-shadow: 0 0 5px #242424;
  border-color: #242424;
}

.form-input-text:focus {
  box-shadow: 0 0 5px #242424;
  border-color: #242424;
}

.form-second-section{
  @apply grid-rows-1 py-8 items-center;
}

.form-third-section{
  @apply grid grid-cols-3 gap-8 items-center;
}


.middle-first-section{
  @apply grid grid-cols-4 gap-8 items-center pb-8;
}

.middle-second-section{
  @apply grid grid-cols-8 gap-8 items-center pb-8;
}
.nav-buttons{
  @apply w-auto bg-custom-black text-white px-4 py-2.5 font-bold transition-all duration-500 ease-in-out hover:translate-y-1 hover:scale-110 hover:bg-custom-gray hover:text-custom-black;
}

.shirt-sizes{
  border-radius: 8px;
  font-family: nunito-sans, sans-serif;
  font-style: SemiBold italic;
  font-weight: 600;
  font-size: 12px;
  color: #242424;
  text-align: center;
  height: 25px;
  width: 75px;;
}

.shirt-sizes:focus{
  box-shadow: 0 0 5px #242424;
  border-color: #242424;
}

.sizes{
  align-items: center;
  display:inline-block;
  text-align: center;
}
.print-location{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 10px;
}

.print-location-title{
  width: 40px;
}

.print-extras{
  width: 100%;
}
.checkbox{
  border-radius: 100%;
  color: #242424;
}

.checkbox:focus{
  color: #242424;
  outline-color: #242424;
  outline-width: 0px;
  --tw-ring-color: transparent;
  --tw-ring-offset-width: 0;
  --tw-ring-width: 0;
}

.checkbox:-moz-focusring{
  color: transparent;
}
.checkbox:active{
  background-color: #242424;
}

.instructions{
  font-size: 12px;
  border-radius: 8px;
  border-color: #6b7280;
}

.p-inputtext:enabled:focus{
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 4.5px  #242424;
  border-color:#242424;
}

.p-inputtext:enabled:hover{
  border-color:#242424;
}

.nothinghere-text{
  font-family: nunito-sans, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}

.colorpicker-container{
  height: 521px;
  width: 61.55px;
}

.glassmorphism {
  background: #242424;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.18);
  
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.btn-icons{
  height: 5px;
}